<app-header></app-header>

<!-- Begin Content -->
<div class="main-container">
    <!-- Education start -->
    <section class="me-about wrapper">
        <div class="container-fluid h-100">
            <div class="row row-eq-height h-100">
                <div class="col-md-3 purple-bg">
                    <div class="iq-objects">
                        <span class="iq-objects-01">
                                <img class="img-fluid" src="assets/images/01.png" alt="drive">
                            </span>
                    </div>
                </div>
                <div class="col-md-9 main-content align-self-center">
                    <div id="boxscroll" class="iq-home about-us">
                        <div class="home-deta iq-mt-80">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="boder-img">
                                        <img src="assets/images/me2.jpg" class="img-fluid" alt="#">
                                    </div>
                                </div>
                                <div class="col-md-8 content-deta">
                                    <div class="main-title">
                                        <small>Education</small>
                                        <h1 class="display-4 font-weight-8 iq-font-purple">Education</h1>
                                    </div>
                                   
                                <ul class="education">
                                    <li><span></span>
                                        <div>
                                            <div class="lead iq-tw-6 iq-font-black">Bachelor Degree</div>
                                            <div class="type iq-font-purple">ACPIS</div>
                                            <div class="info">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</div>
                                        </div> <span class="number"><span>2000</span> <span>2004</span></span>
                                    </li>
                                    <li><span></span>
                                        <div>
                                            <div class="lead iq-tw-6 iq-font-black">Master Degree</div>
                                            <div class="type iq-font-purple">Col Institute</div>
                                            <div class="info">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</div>
                                        </div> <span class="number"><span>2005</span> <span>2007</span></span>
                                    </li>
                                    <li><span></span>
                                        <div>
                                            <div class="lead iq-tw-6 iq-font-black">phd</div>
                                            <div class="type iq-font-purple">Research Inc.</div>
                                            <div class="info">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</div>
                                        </div> <span class="number"><span>2008</span> <span>2011</span></span>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Education End -->
</div>
<!-- Begin Content -->

<app-footer></app-footer>