    <!-- Header  -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar fixed-top navbar-expand-lg navbar-light white-bg">
                    <div class="col-md-3 purple-bg">
                        <a class="navbar-brand" href="index.html"><img src="images/logo.png" class="img-fluid" alt="logo"></a>
                    </div>
                    <div class="col-md-9">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="fa fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto w-100 justify-content-end">
                                <li class="nav-item active">
                                    <a class="nav-link" data-type="page-transition" routerLink="/home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-type="page-transition" routerLink="/about-us">About me</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-type="page-transition" routerLink="/education">Educations</a>
                                </li>
                               <li class="nav-item">
                                    <a class="nav-link" data-type="page-transition" routerLink="/experience">Experiences</a>
                                </li>
                                 <li class="nav-item">
                                    <a class="nav-link" data-type="page-transition" routerLink="/skill">Skills</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-type="page-transition" routerLink="/portfolio">portfolio</a>
                                </li>
                                
                              <li class="nav-item">
                                    <a class="nav-link" data-type="page-transition" routerLink="/services">services</a>
                                </li>
                                    <li>
                                    <li class="nav-item">
                                    <a class="nav-link" data-type="page-transition" routerLink="/awards">Awards</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-type="page-transition" routerLink="/contact-us">contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header End -->
