<app-header></app-header>


<!-- Begin Content -->
<div class="main-container">
    <!-- Portfolio Start -->
    <section class="iq-portfolio wrapper">
        <div class="container-fluid h-100">
            <div class="row row-eq-height h-100">
                <div class="col-md-3 purple-bg">
                    <div class="iq-objects">
                        <span class="iq-objects-01">
                            <img class="img-fluid" src="assets/images/01.png" alt="drive">
                        </span>
                    </div>
                </div>
                <div class="col-md-9 main-content align-self-center">
                    <div id="boxscroll" class="inner-box">
                        <div class="iq-plr-40">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-title iq-mb-20">
                                <small>My Featured Work</small>
                                <h1 class="display-4 font-weight-8 iq-font-purple">My Portfolio</h1>
                            </div>
                    </div>
                   
                    <div class="col-md-12">
                        <div class="isotope popup-gallery full-screen">
            <div class="grid-item web-design graphic-design clearfix">
                <div class="portfolio-item clearfix">
                    <figure class="ard-img"> <img src="assets/images/portfolio/05.jpg" alt="img04"></figure>
                    <div class="overlay">
                        <h4>Apptunix</h4>
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                       
                    </div>
                </div>
            </div>
            <div class="grid-item web-design">
                <div class="portfolio-item">
                    <figure class="ard-img"> <img src="assets/images/portfolio/05.jpg" alt="img04"></figure>
                     <div class="overlay">
                        <h4>Apptunix</h4>
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                       
                    </div>
                </div>
            </div>
            <div class="grid-item website-templates">
                <div class="portfolio-item">
                    <figure class="ard-img">  <img src="assets/images/portfolio/05.jpg" alt="img04"></figure>
                     <div class="overlay">
                        <h4>Apptunix</h4>
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                       
                    </div>
                </div>
            </div>
            <div class="grid-item graphic-design">
                <div class="portfolio-item">
                    <figure class="ard-img"> <img src="assets/images/portfolio/05.jpg" alt="img04"></figure>
                     <div class="overlay">
                        <h4>Apptunix</h4>
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                       
                    </div>
                </div>
            </div>
            <div class="grid-item web-design">
                <div class="portfolio-item">
                   <figure class="ard-img"> <img src="assets/images/portfolio/05.jpg" alt="img04"></figure>
                    <div class="overlay">
                        <h4>Apptunix</h4>
                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                       
                    </div>
                </div>
            </div>
           
        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio End -->
</div>
<!-- Main Content End -->

<app-footer></app-footer>