<app-header></app-header>


 <!-- Begin Content -->
 <div class="main-container">
    <!--Services start--> -->
    <section class="me-about wrapper">
        <div class="container-fluid h-100">
            <div class="row row-eq-height h-100">
                <div class="col-md-3 purple-bg">
                    <div class="iq-objects">
                        <span class="iq-objects-01">
                                <img class="img-fluid" src="assets/images/01.png" alt="drive">
                            </span>
                    </div>
                </div>
                <div class="col-md-9 main-content align-self-center">
                    <div id="boxscroll" class="iq-home about-us">
                        <div class="home-deta iq-mt-80">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="boder-img">
                                        <img src="assets/images/me2.jpg" class="img-fluid" alt="#">
                                    </div>
                                </div>
                                <div class="col-md-8 content-deta">
                                     <div id="boxscroll">
                    <div class="resume-deta iq-plr-40">
                        <div class="row white-bg">
                            <div class="col-md-12">
                    <div class="main-title iq-mb-20">
                            <small>Services</small>
                            <h1 class="display-4 font-weight-8 iq-font-purple">Services</h1>
                        </div>
                </div>
                            <div class="col-lg-4 col-md-3 col-md-3">
                                <div class="service-block text-center">
                                    <img src="assets/images/service/01.png" class="img-fluid" alt="#">
                                    <h6 class="iq-tw-6 iq-mt-15 iq-mb-10">Creative Idea</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3 col-md-3">
                                <div class="service-block text-center re-mt30">
                                    <img src="assets/images/service/05.png" class="img-fluid" alt="#">
                                    <h6 class="iq-tw-6 iq-mt-15 iq-mb-10">PSD Design</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3 col-md-3">
                                <div class="service-block text-center re-mt30">
                                    <img src="assets/images/service/06.png" class="img-fluid" alt="#">
                                    <h6 class="iq-tw-6 iq-mt-15 iq-mb-10">Photo Edits</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3 col-md-3">
                                <div class="service-block text-center re-mt30">
                                    <img src="assets/images/service/03.png" class="img-fluid" alt="#">
                                    <h6 class="iq-tw-6 iq-mt-15 iq-mb-10">Web Design</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                    
                    
                </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us End -->
</div>
<!-- Begin Content -->
<div class="main-container">
<!-- About us -->
<section class="iq-services wrapper">
    <div class="container-fluid h-100">
        <div class="row row-eq-height h-100">
            <div class="col-md-3 purple-bg">
                <div class="iq-objects">
                    <span class="iq-objects-01">
                        <img class="img-fluid" src="images/01.png" alt="drive">
                    </span>
                </div>
            </div>
            <div class="col-md-9 main-content align-self-center">
                <div id="boxscroll" class="inner-box">
                    <div class="resume-deta iq-plr-40">
                        <div class="row white-bg">
                            <div class="col-md-12">
                                <div class="main-title iq-mb-20">
                                    <small>What I Can Do Butter</small>
                                    <h1 class="display-4 font-weight-8 iq-font-purple">Services</h1>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-md-3">
                                <div class="service-block text-center">
                                    <img src="assets/images/service/01.png" class="img-fluid" alt="#">
                                    <h6 class="iq-tw-6 iq-mt-15 iq-mb-10">Creative Idea</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-md-3">
                                <div class="service-block text-center re-mt30">
                                    <img src="assets/images/service/05.png" class="img-fluid" alt="#">
                                    <h6 class="iq-tw-6 iq-mt-15 iq-mb-10">PSD Design</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-md-3">
                                <div class="service-block text-center re-mt30">
                                    <img src="assets/images/service/06.png" class="img-fluid" alt="#">
                                    <h6 class="iq-tw-6 iq-mt-15 iq-mb-10">Photo Edits</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-md-3">
                                <div class="service-block text-center re-mt30">
                                    <img src="assets/images/service/03.png" class="img-fluid" alt="#">
                                    <h6 class="iq-tw-6 iq-mt-15 iq-mb-10">Web Design</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-md-3 iq-mt-30">
                                <div class="service-block text-center re-mt30">
                                    <img src="assets/images/service/04.png" class="img-fluid" alt="#">
                                    <h6 class="iq-tw-6 iq-mt-15 iq-mb-10">Animation</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-md-3 iq-mt-30">
                                <div class="service-block text-center">
                                    <img src="images/service/07.png" class="img-fluid" alt="#">
                                    <h6 class="iq-tw-6 iq-mt-15 iq-mb-10">Unique Logo Design</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-md-3 iq-mt-30">
                                <div class="service-block text-center">
                                    <img src="assets/images/service/08.png" class="img-fluid" alt="#">
                                    <h6 class="iq-tw-6 iq-mt-15 iq-mb-10">Video Edits</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-md-3 iq-mt-30">
                                <div class="service-block text-center">
                                    <img src="assets/images/service/02.png" class="img-fluid" alt="#">
                                    <h6 class="iq-tw-6 iq-mt-15 iq-mb-10">Amazing Templates</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="customers grey-bg iq-pall-40 iq-mtb-50">
                        <div class="row iq-ptb-30">
                            <div class="col-md-12">
                                <h3 class="title font-weight-8 iq-mt-0">My Special Projects</h3>
                                                        
                                <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30">
                                    <div class="item">
                                        <div class="iq-client white-bg">
                                            <div class="client-img">
                                               <figure> <img alt="#" class="img-fluid" src="assets/images/testimonial/01.jpg">
                                           </figure>
                                                 </div>
                                            <div class="client-info">
                                                <div class="client-name iq-mb-10">
                                                    <h6 class="iq-tw-6">Apptunix</h6>
                                                </div>
                                                <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.
                                                Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.</p>
                                                 <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.
                                                Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.</p>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="item">
                                        <div class="iq-client white-bg">
                                            <div class="client-img">
                                               <figure> <img alt="#" class="img-fluid" src="assets/images/testimonial/02.jpg">
                                           </figure>
                                                 </div>
                                            <div class="client-info">
                                                <div class="client-name iq-mb-10">
                                                    <h6 class="iq-tw-6">Miss Social Dubai</h6>
                                                </div>
                                                <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.
                                                Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.</p>
                                                 <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.
                                                Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.</p>
                                            </div>
                                        </div>
                                    </div>
                                 <div class="item">
                                        <div class="iq-client white-bg">
                                            <div class="client-img">
                                               <figure> <img alt="#" class="img-fluid" src="assets/images/testimonial/03.jpg">
                                           </figure>
                                                 </div>
                                            <div class="client-info">
                                                <div class="client-name iq-mb-10">
                                                    <h6 class="iq-tw-6">Cooldash</h6>
                                                </div>
                                                <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.
                                                Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.</p>
                                                 <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.
                                                Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services End -->
</div>
<!-- Main Content End -->

<app-footer></app-footer>