<app-header></app-header>



<!-- Begin Content -->
<div class="main-container">
    <!-- Resume start -->
    <section class="iq-resume wrapper">
        <div class="container-fluid h-100">
            <div class="row row-eq-height h-100">
                <div class="col-md-3 purple-bg">
                    <div class="iq-objects">
                        <span class="iq-objects-01">
                            <img class="img-fluid" src="assets/images/01.png" alt="drive">
                        </span>
                    </div>
                </div>
                <div class="col-md-9 main-content align-self-center">
                    <div id="boxscroll" class="inner-box">
                       
                        <div class="interests-deta grey-bg iq-pall-40 iq-mtb-50">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="title font-weight-8 iq-mt-0">My Interests</h3>
                                    <ul class="interests">
                                        <li>
                                            <i class="fa fa-music" aria-hidden="true"></i>
                                            <h6>Music</h6>
                                        </li>
                                        <li>
                                            <i class="fa fa-file-video-o" aria-hidden="true"></i>
                                            <h6>Watch Movies</h6>
                                        </li>
                                        <li>
                                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                                            <h6>Photography</h6>
                                        </li>
                                        <li>
                                            <i class="fa fa-gamepad" aria-hidden="true"></i>
                                            <h6>Gaming</h6>
                                        </li>
                                        <li>
                                            <i class="fa fa-plane" aria-hidden="true"></i>
                                            <h6>Traveling</h6>
                                        </li>
                                        <li>
                                            <i class="fa fa-bicycle" aria-hidden="true"></i>
                                            <h6>Bicycling</h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="skills iq-plr-40 iq-mt-80">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-md-6">
                                    <div class="skill-content">
                                        <h3 class="title font-weight-8 iq-mt-0">My Language skills</h3>
                                        <p class="iq-mb-25">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                    <div class="iq-progress-bar-linear">
                                        <p class="iq-progress-bar-text iq-font-black">English
                                            <span>90/100</span>
                                        </p>
                                        <div class="iq-progress-bar">
                                            <span data-percent="90"></span>
                                        </div>
                                    </div>
                                    <div class="iq-progress-bar-linear iq-font-black">
                                        <p class="iq-progress-bar-text">French
                                            <span>75/100</span>
                                        </p>
                                        <div class="iq-progress-bar">
                                            <span data-percent="75"></span>
                                        </div>
                                    </div>
                                    <div class="iq-progress-bar-linear iq-font-black">
                                        <p class="iq-progress-bar-text">Russian
                                            <span>67/100</span>
                                        </p>
                                        <div class="iq-progress-bar">
                                            <span data-percent="67"></span>
                                        </div>
                                    </div>
                                    <div class="iq-progress-bar-linear iq-font-black iq-mb-0">
                                        <p class="iq-progress-bar-text">German
                                            <span>50/100</span>
                                        </p>
                                        <div class="iq-progress-bar">
                                            <span data-percent="50"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-md-6">
                                    <div class="skill-content">
                                        <h3 class="title font-weight-8 iq-mt-0">My Technical skills</h3>
                                        <p class="iq-mb-25">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>
                                    <div class="iq-progress-bar-linear iq-font-black">
                                        <p class="iq-progress-bar-text">HTML
                                            <span>98/100</span>
                                        </p>
                                        <div class="iq-progress-bar">
                                            <span data-percent="98"></span>
                                        </div>
                                    </div>
                                    <div class="iq-progress-bar-linear iq-font-black">
                                        <p class="iq-progress-bar-text">Css
                                            <span>90/100</span>
                                        </p>
                                        <div class="iq-progress-bar">
                                            <span data-percent="90"></span>
                                        </div>
                                    </div>
                                    <div class="iq-progress-bar-linear iq-font-black">
                                        <p class="iq-progress-bar-text">Php
                                            <span>70/100</span>
                                        </p>
                                        <div class="iq-progress-bar">
                                            <span data-percent="70"></span>
                                        </div>
                                    </div>
                                    <div class="iq-progress-bar-linear iq-font-black iq-mb-0">
                                        <p class="iq-progress-bar-text">Javascript
                                            <span>85/100</span>
                                        </p>
                                        <div class="iq-progress-bar">
                                            <span data-percent="85"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Resume End -->
</div>
<!-- Main Content End -->

<app-footer></app-footer>