<app-header></app-header>

       <!-- Begin Content -->
       <div class="main-container">
        <!-- About us -->
        <section class="me-home wrapper">
            <div class="container-fluid h-100">
                <div class="row row-eq-height h-100">
                    <div class="col-md-3 purple-bg">
                        <div class="iq-objects">
                            <span class="iq-objects-01">
                                    <img class="img-fluid" src="assets/images/01.png" alt="drive">
                                </span>
                        </div>
                    </div>
                    <div class="col-md-9 main-content align-self-center">
                        <div id="boxscroll" class="iq-home">
                            <div class="home-deta iq-mt-90">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="boder-img">
                                           <img src="assets/images/me.jpg" class="img-fluid" alt="#">
                                        </div>
                                    </div>
                                    <div class="col-md-8 content-deta">
                                        <h2 class="font-weight-8">Hello,<br>I Am Amit Kumar</h2>
                                        <!-- <div id="typer"></div> -->
                                        <p class="lead iq-tw-4">Amit There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there.</p>
                                        <a class="button snip1535 x iq-mt-30" href="about-us.html">Download my CV</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Us End -->
    </div>
    <!-- Main Content End -->

<app-footer></app-footer>